<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Forgtten</title>
</head>
<body style="text-align: center;margin-top: 330px; background-color: rgb(101, 228, 228);">
   <div>
    <form id="forgetten">

        <label for="email">Enter Your Registerd Email</label> <br>
        <input type="email" id="email" name="email"><br>
        

        <button type="submit" id="sendlink">Send </button>
    </form>

           <h2 id="message"><%= message || "" %></h2>

    </div>

    <script src="/javascripts/forgetten.js"></script>
</body>
</html>