<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Login Successfull</title>
</head>
<body style="background-color: rgb(107, 227, 227); text-align: center; margin-top: 400px;">
        <h2 id="success" > Welcome to <%= message %></h2>

        <script src="/javascripts/loginsucess.js"></script>
</body>
</html>