<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Register Page</title>
</head>
<body style="text-align: center;margin-top: 330px;">
   <div class="">
    <form id="register"  >

        <label for="name">Username</label> <br>
        <input type="text" id="name" name="name"> <br>
        

        <label for="email">Email</label> <br>
        <input type="email" id="email" name="email"> <br>
        

        <label for="passwrod">Password</label> <br>
        <input type="password" name="password" id="password"> <br><br>
        

        <button type="submit" id="registe">Register</button>
        
    </form>
        <% if(message){ %>
                <h3 id="Regmessage"><%= message || "" %></h3>
            <% } %>
 </div>

    <script src="/javascripts/register.js"></script>
</body>
</html>