<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Reset Password</title>
</head>
<body style="text-align: center;margin-top: 330px; background-color: rgb(101, 228, 228);">

    <form id="reset">
        <label for="email">Email</label><br>
        <input type="email" id="email" , name="email"> <br>

        <label for="password"> Password</label> <br>
        <input type="password" id="password" name="password"> <br>
        

        <label for="passowrd">Conform Password</label> <br>
        <input type="password" id="conformpassword" name="conformpassowrd"> <br><br>
        

        <button type="submit" id="changepassword">Change Password</button>
    </form>
     
              <h2 id="message"><%= message || "" %></h2>

    <script src="/javascripts/resetpassword.js">  </script>
</body>
</html>